.header {
  background-color: white;
  display: flex;
  justify-content: center;
}
.header > div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.body {
  width: 100%;
}

.ohmyfood {
  width: 40%;
  padding: 1em;
}

.restaurant {
  height: 15em;
  width: 100%;
}

.restaurant img {
  position: absolute;
  object-fit: cover;
}

.image-presentation {
  height: 12em;
}

.flex-container {
  width: 100%;
  background: #f8f6f6;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  align-items: center;
  position: relative;
}
@media screen and (max-width: 767px) {
  .flex-container {
    width: 100%;
    padding-top: 1em;
    flex-direction: column;
    align-items: stretch;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
  }
}

.subtittle {
  text-decoration: 3px underline #99E2D0;
}
@media screen and (max-width: 767px) {
  .subtittle {
    padding-left: 1.5em;
  }
}

.tittle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 767px) {
  .tittle {
    padding-left: 1.5em;
    padding-right: 1em;
  }
}

.body-down {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding-bottom: 1em;
}
@media screen and (max-width: 767px) {
  .body-down {
    width: auto;
    flex-direction: column;
  }
}

.body-down > div {
  width: 30%;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 767px) {
  .body-down > div {
    width: auto;
  }
}

.child-one {
  animation-delay: 5s;
  animation: fadeone 2s linear;
  scroll-behavior: smooth;
}

.child-two {
  animation-delay: 5s;
  animation: fadetwo 2s linear;
  scroll-behavior: smooth;
}

.child-three {
  animation-delay: 5s;
  animation: fadethree 2s linear;
  scroll-behavior: smooth;
}

@keyframes fadethree {
  /*  0%{
        transform: scaleY(2);
        transform-origin: bottom;
        animation-direction: normal;
   }

    100% {
        transform: scaleX(1);
        transform-origin: bottom;

    }
    */
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadetwo {
  /*  0%{
        transform: scaleY(2);
        transform-origin: bottom;
        animation-direction: normal;
   }

    100% {
        transform: scaleX(1);
        transform-origin: bottom;

    }
    */
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeone {
  /*  0%{
        transform: scaleY(2);
        transform-origin: bottom;
        animation-direction: normal;
   }

    100% {
        transform: scaleX(1);
        transform-origin: bottom;

    }
    */
  0% {
    margin-top: 3em;
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.fa-check-circle {
  color: white;
  animation: spin 4s linear 1s;
  animation-iteration-count: 1;
}

.hover1 {
  height: 100%;
  background-color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  width: 100%;
}

.hover2 {
  transition: width 2s linear;
  width: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:hover > .hover2 {
  height: 100%;
  background-color: #99E2D0;
  width: 20%;
  transition-duration: 1s;
  transition-delay: 0s;
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.space {
  margin-top: 1.5em;
}

.body-down-child {
  cursor: pointer;
  position: relative;
  display: flex;
  align-content: space-between;
  justify-content: flex-end;
  width: auto;
  align-items: center;
  height: 5em;
  background-color: white;
  border: 2px solid #f3f3f3;
  box-shadow: 1px 1px 10px #ada9a9;
  border-radius: 15px;
  margin: 0.5em;
  margin: 1em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  overflow: hidden;
}
@media screen and (max-width: 767px) {
  .body-down-child {
    width: auto;
    height: 3em;
  }
}

.btn-order {
  cursor: pointer;
  border-radius: 20px;
  width: 30%;
  border: none;
  background-image: linear-gradient(#ec0cec, #FF79DA);
  padding: 1em;
  box-shadow: 4px 4px 10px rgba(214, 208, 208, 0.959);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}
@media screen and (max-width: 767px) {
  .btn-order {
    margin-left: 5.5em;
    margin-bottom: 3em;
    margin-top: 2em;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  color: white;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
}
@media screen and (max-width: 767px) {
  footer {
    flex-direction: column;
    padding-left: 1em;
  }
}

/*# sourceMappingURL=sass2.css.map */
