.header {
  background-color: white;
  display: flex;
  justify-content: center;
}

.ohmyfood {
  width: 40%;
  padding: 1em;
}

.search-logo {
  height: 20px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  border: hidden;
}

.position {
  background-color: #dad2d2;
  display: flex;
  padding: 0.5em;
}

.bold {
  font-weight: bolder;
}

.btn {
  border-radius: 20px;
  border: 2px solid #ff79da;
  background: #ff79da;
  border-radius: 20%;
  padding: 0.5em;
  box-shadow: 2px 2px 10px rgba(214, 208, 208, 0.959);
  display: flex;
  flex-direction: row;
}
.btn.btn-font {
  color: white;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 767px) {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 1em;
  }
}

.head-down {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .head-down {
    flex-direction: column;
  }
}

.reservation {
  background-color: #f3f3f3;
}
@media screen and (max-width: 767px) {
  .reservation {
    flex-direction: column;
    padding-bottom: 2em;
  }
}
@media screen and (max-width: 767px) {
  .reservation > div {
    display: flex;
    justify-content: center;
    padding-top: 1em;
  }
}

.flex-container-body-up {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}
@media screen and (max-width: 767px) {
  .flex-container-body-up {
    flex-direction: column;
  }
}

.flex-container-body-up > div {
  background-color: #f3f3f3;
  width: 30%;
  margin: 0.5em;
  border-radius: 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .flex-container-body-up > div {
    width: auto;
    margin: 1em;
  }
}

.body-up-child {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 2em;
  box-shadow: 2px 2px 10px rgba(240, 239, 239, 0.664);
}
.body-up-child:hover {
  background-color: violet;
  cursor: pointer;
}

.circle {
  display: block;
  background-color: #9356DC;
  color: white;
  border-radius: 100%;
  height: 2em;
  width: 2em;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flex-container-body-down {
  background-color: #f3f3f3;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (max-width: 767px) {
  .flex-container-body-down {
    flex-direction: column;
  }
}
.flex-container-body-down h2 {
  width: 100%;
}

.body-down-child img {
  object-fit: cover;
  width: 100%;
  height: 10em;
  border-top-left-radius: 15%;
  border-top-right-radius: 15%;
  position: relative;
}

.body-down-child > div {
  display: flex;
}

.new-icone {
  border-color: 2px solid green;
  background: green;
  display: flex;
  position: absolute;
  margin-left: 14em;
  margin-top: 1.5em;
  padding: 0.2em;
}

.restaurant-name {
  display: flex;
  justify-content: space-between;
}

.btn1 {
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: black;
  transition: background-color 1s;
  background: none;
}
.btn1:hover {
  color: red;
  background: none;
  border: none;
}

.flex-container-body-down > div {
  width: 40%;
  margin: 1em;
  border: 2px solid white;
  border-radius: 10%;
  background-color: white;
  box-shadow: 2px 2px 10px #423b3b;
  margin-bottom: 2em;
  padding-bottom: 2em;
}
@media screen and (max-width: 767px) {
  .flex-container-body-down > div {
    width: auto;
  }
}

.footer {
  display: flex;
  justify-content: space-around;
  background-color: gray;
  color: white;
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}

/*# sourceMappingURL=sass.css.map */
