@media screen and (max-width: 767px) {
    .header{
        background-color:pink;
        height: 5em;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .position{
        background-color: cyan;
        height: 5em;
    }
    .reservation{
        background-color: darksalmon;
        height: 10em;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .explore{
        background-color: deeppink;
        width: 60%;
        height: 3em;
        border-radius: 20%;
    }
    .flex-container-body-up
    {
        background-color: hotpink;
         display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 3em;
    }
    .flex-container-body-up>div
    {
        background-color: indigo;
        height: 5em; 
        margin: 0.5em;
        border-radius: 20%;
    }
    .flex-container-body-down
    {
        background-color: lavender;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    .flex-container-body-down>div
    {
        
        height: 10em;
        margin: 1em;
        border: 2px solid indigo;
        
        border-radius: 20%;
    }
   
    .footer
    {
        background-color: gray;
    }
    

}